__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*.egg-info/
dist/
.build/
*.egg
*.log
*.csv
*.tsv
*.xlsx
.env
*.ipynb_checkpoints
builds/*
cache/*
.coverage
.cache
.DS_Store
.vscode/
.venv
.pytest_cache
.mypy_cache
src/codinit/mlflow.db
data/
.vscode/settings.json
magic_code.py
draft/
src/codinit/checks/get_import_and_usage_not_relevant.py
src/codinit/checks/move_imports_and_modules_not_working.py
sample_code/
wandb/
